.voyager .table > thead > tr >th {
   border-color: #eaeaea;    background: #192734;    color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color:#000000;
}

.voyager .panel { 
	margin-bottom: 22px;
    background-color: #8fc241;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
    color: white;
}.btn.btn-primary {    color: #1da1f2 !important;    opacity: .9;    background: transparent !important;    border: 2px solid #1da1f2 !important;    border-radius: 10px;	font-weight: 900;}

.app-container {
  min-height: 100%;    position: relative;    background: #15202b;    padding-bottom: 30px;
}

.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_processing {
    color: #8ec142;
}
.voyager .side-menu.sidebar-inverse {background: #15202b !important;}
.voyager .pagination .active>a, .voyager .pagination .active>a:focus, .voyager .pagination .active>a:hover, .voyager .pagination .active>span:focus, .voyager .pagination .active>span:hover, .voyager .pagination .active span {
  z-index: 3;    color: #fff;    cursor: default;    background-color: #15202b;    border-color: #15202b;    outline: none;
}
.app-container .content-container .side-menu .navbar-nav li a .icon {    margin-top: 5px !important;    font-size: 25px !important;    color: white !important;}#voyager-loader {    background: #192734 !important; }
.page-title {
    display: inline-block;
    height: auto;
    font-size: 18px;
    height: 100px;
    line-height: 43px;
    margin-top: 3px;
    padding-top: 28px;
    color: #8fc241;
    position: relative;
    padding-left: 75px;
    margin-bottom: 0;
    font-weight: 700;
    margin-right: 20px;
}

.voyager .navbar, .voyager .navbar.navbar-default {
    border-bottom: 0;
    box-shadow: 0 0 0;
   background: hsl(209, 35%, 15%);
}

.voyager .navbar.navbar-default>.container-fluid:after, .voyager .navbar>.container-fluid {
    border-bottom: 0px solid #eee;
    width: 99.5%;
    height: 1px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #ccd5db;
    cursor: not-allowed;
    background-color: #cfe4ae;
    border-color: #8ec142;
}

table.dataTable tbody tr {
    background-color: #15202b;
}

.table-hover>tbody>tr:hover, .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
      background-color: #192734;
}

input[type='text'] {
    background-color: #ffffff29;
}

textarea {
    background-color: #ffffff29;
}

.panel-footer {
    background: #000000;
}

.form-control {
    color: #ffffff;
    background-color: #3c3c3c;
    background-image: none;
    border: 1px solid #e4eaec;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff;
    line-height: 28px;
    background: #fffffff;
    background-color: #3c3c3c;
}

.select2-container--default .select2-selection--multiple {
    background-color: #3c3c3c;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
}

.select2-container--default .select2-selection--single {
    background-color: #3c3c3c;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.btn-link, .checkbox-inline, .checkbox label, .radio-inline, .radio label, label {
    font-weight: 300;
    color: #ffffff;
}

.selection--multiple {
    background-color: #3c3c3c;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
}

.voyager .panel {
  margin-bottom: 22px;    background-color: #192734;    border: 1px solid transparent;    border-radius: 4px;    box-shadow: 0 2px 10px rgba(0,0,0,.05);    color: #fff;
}

.dataTables_wrapper .dataTables_processing {
	height: 60px;
	background-color: #ffffff;
    background: rgb(143,194,65);
	background: -moz-linear-gradient(90deg, rgba(143,194,65,1) 0%, rgba(143,194,65,0.07326680672268904) 44%, rgba(143,194,65,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(143,194,65,1) 0%, rgba(143,194,65,0.07326680672268904) 44%, rgba(143,194,65,1) 100%);
	background: linear-gradient(90deg, rgba(143,194,65,1) 0%, rgba(143,194,65,0.07326680672268904) 44%, rgba(143,194,65,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8fc241",endColorstr="#8fc241",GradientType=1);
}