.mce-panel {
    border: 0 solid #3f4a54 !important;
    background-color: #3f4a54 !important;
}

.mce-content-body{
	background-color: #192734 !important;
    color: #ffffff !important;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 14px !important;
}

.mce-btn {
    border: 1px solid #b3b3b3 !important;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) !important;
    position: relative !important;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75) !important;
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
    background-color: #192734 !important;
}

.mce-ico {
    font-family: 'tinymce',Arial !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    font-size: 16px !important;
    line-height: 16px !important;
    speak: none !important;
    vertical-align: text-top !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    display: inline-block !important;
    background: transparent center center !important;
    background-image: initial !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: cover !important;
    background-repeat-x: initial !important;
    background-repeat-y: initial !important;
    background-attachment: initial !important;
    background-origin: initial !important;
    background-clip: initial !important;
    background-color: transparent !important;
    background-size: cover !important;
    width: 16px !important;
    height: 16px !important;
    color: #ffffff !important;
}

.mce-menu-item .mce-ico, .mce-menu-item .mce-text {
    color: #dad1d1 !important;
}

.mce-btn i {
    text-shadow: 0 0 #fff !important;
    transition: color 0.2s linear !important;
}